.list-pets{
    text-align: center;
}



.list-pets .list-item {
    width: 25%;
    border: 1px solid rgba(0,0,0, 0.4);
    margin-right: 20px;
}

.pet-details{
    padding: 15px;
}

.pet-info,
.pet-description{
    margin-top: 10px;
}



.pet-info {
    font-size:1.1em;
    font-weight: 500;
}

.pet-description{

}